<div class="col-12">
  <div class="row">
  <h2><%= link_to  blog.title, blog %></h2>
  <div class="meta">Published: <%= blog.created_at.strftime("%A, %b, %d, %Y") %></div>
  <div class="summary"><%= truncate(blog.body, escape: false, length: 300 ) %></div>
  <% if logged_in?(:site_admin) %>
    <div class="mini-nav">
      <%= link_to blog.status, toggle_status_blog_path(blog) %>
      <%= link_to 'Edit', edit_blog_path(blog)  %>
      <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
  </div>
</div>
<hr>