<div class="col-8 m-auto">
<div class="page-header">
  <h1><%= @blog.title %></h1>
  <div class="meta">Published: <%= @blog.created_at.strftime("%A, %b, %d, %Y") %> </div>
</div>

<div class="entry">
  <%= @blog.body %>
</div>
<hr>
<%= link_to 'Edit', edit_blog_path(@blog), class: 'btn btn-primary' if logged_in?(:site_admin) %>
<%= link_to 'Back', blogs_path, class: 'btn btn-info' %>

<%= render 'comments/comment_form' %>

<div id="comments" data-blog-id="<%= @blog.id %>">
  <%= render @blog.comments %>
</div>

</div>
