<%= form_for(@portfolio) do |f| %>
    <% if @portfolio.errors.any? %>
        <% @portfolio.errors.full_messages.each do | error| %>
            <%= js add_gritter(error, title: "Noobita") %>
        <% end %>
    <% end %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :subtitle %>
      <%= f.text_field :subtitle, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, class: 'form-control', rows: 10 %>
    </div>

    <div class="form-group">
     <label class="btn btn-primary btn-sm">
       Upload main image file <%= f.file_field :main_image, style: 'display:none' %>
     </label>
    </div>

    <div class="form-group">
      <label class="btn btn-primary btn-sm">
        Upload thumbnail image file <%= f.file_field :thumbnail, style: 'display:none' %>
      </label>
    </div>


    <h3 class="title">Technologies</h3>

      <%= f.fields_for :technologies do |technology_form| %>
        <%= render 'technology_fields', f: technology_form %>
      <% end %>
    <div>
      <%= link_to_add_association 'Add Technology', f, :technologies %>
    </div>

    <div class="actions">
      <%= f.submit 'Save', class: 'btn btn-primary btn-block' %>
    </div>
<% end %>
