<header class="portfolio-header-image" style="background-image: url(<%= portfolio_img(@portfolio.main_image, 'main') %>);">

</header>
<div class="container-fluid bd portfolio">
  <div class="col-md-8 m-auto">
    <div class="page-header">
      <h1 class="title text-center"><%= @portfolio.title %></h1>
    </div>
    <p class="text-center"><%= @portfolio.subtitle %></p>
    <div class="body text-center section">
      <%= @portfolio.body %>
    </div>
    <div class="technologies text-center section">
      <h3>Technologies Used</h3>
      <ul>
        <% @portfolio.technologies.each do |t| %>
            <li><%= t.name %></li>
        <% end %>
      </ul>
    </div>

    <div class="mini-nav text-center">
      <% if logged_in?(:site_admin) %>
            <%= link_to 'Edit', edit_portfolio_path(@portfolio), class: 'btn btn-success' %>
      <% end %>
      <%= link_to 'Back', portfolios_path, class: 'btn btn-secondary' %>
    </div>

  </div>
</div>